{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          Mazzarin is a website project created by Gabriel Mazer to demonstrate his web development skills.
          The site simulates a vegan restaurant, with traditional recipes and a modern twist.
        </p>
        <p>
          The project involved the creation of a reservation and booking API, using Python, Django,
          Django REST Framework, MySQL, Git and GitHub, JavaScript, HTML5 and CSS3.
        </p>

        <p>
          You are more than welcome to explore this website.
          In the “Reservations” tab, you can see all the reservations in JSON format that were made from the “Book” tab.
        </p>

        <p>
          In the "Book" tab, you can use the booking API that uses django.forms.
          There, you will not be able to make reservations at the same time and you can see all the reservations for that specific day.
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/gabriel-mazer-final.png' %}"
            alt="Gabriel Mazer"
          />
          <figcaption class="figure-caption">
            Mazzarin creator Gabriel Mazer.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
